body {
  background-color: #0d0d0d;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #1a1a1a;
  border-bottom: 2px solid white;
}

.btn-voltar {
  display: inline-block;
  margin-top: 10px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-voltar:hover {
  background-color: white;
  color: black;
}

.conteudo {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.thumb {
  width: 250px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 12px #0004;
}

.galeria {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
  justify-content: center;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px; 
  margin-top: 30px;
  justify-items: center; 
}

.galeria img {
  width: 100%;
  max-width: 700px;
  border-radius: 10px;
  box-shadow: 0 0 10px #0003;
}

.descricao h2 {
  color: white;
  margin-bottom: 10px;
}

.descricao p {
  color: #ddd;
  line-height: 1.6;
}
