body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0d0d0d;
  color: #ffffff;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #1a1a1a;
  border-bottom: 2px solid white;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s ease;
}

nav a:hover {
  color: #ff4d4d;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  animation: fadeIn 1s ease;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  margin-top: 20px;
  border: 2px solid white;
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: white;
  color: #1a1a1a;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 20px;
}


.projeto a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.projeto a:hover {
  color: #e6e6e6;
  text-decoration: underline;
}


.projeto-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.projeto-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 8px;
}

section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

.card {
  border: 1px solid white;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #111;
  transition: 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
  background-color: #1a1a1a;
}

footer {
  text-align: center;
  padding: 20px;
  border-top: 2px solid white;
  background-color: #1a1a1a;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
